.container {
  width: 500px;
  align-content: center;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccccc8;
  margin-left: 50px;
  margin-top: 20px;
  border: 10px solid #ccccc8;
  margin-bottom: 10px;
}

div {
  font-size: 25px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.grid div:not(.checked) {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #f2f9fe;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
  box-sizing: border-box;
}

.crossed {
  background-image: url(Red_X.png);
  background-size: cover;
}

[data="1"] {
  color: #4199d3;

}

[data="2"] {
  color: #57da59;
}

[data="3"] {
  color: #e76346;
}

[data="4"] {
  color: #1d1f3f;
}

[data="5"] {
  color: #743f13;
}

[data="6"] {
  color: #bb41d3;
}

[data="7"] {
  color: #008b97
}

[data="8"] {
  color: #cec548
}

.result {
  margin-top: 5px;
  color: #e76346;
  font-family: 'Press Start 2P', cursive;
}

.timer {
  margin-top: 5px;
  color: #0f0427;
}